
body {
    font-family:'Lucida Sans Unicode';
}

h1 {
    color: olivedrab; text-align:justify;
    float:left
    border 4px solid;
    letter-spacing: 10px;
    margin-left: 12%;
    margin-top: 10%;
    background-image: url('../img/panoramica.jpg'); width: 90%; height: 60%;
}

h2{
    color:yellowgreen;
}

h3, h4, h5 {
    color: chocolate;
}

.div{
    border: 5px rgb(172, 171, 171) solid;
    float: left;
}

.divbutton {
    float:left;
    padding: 0%;
    margin-left: 0.5px;
    margin-right: 2px;
    
}

.btnstyle {
    height: 30px;
    width: 90px;
    margin: 2px;
    background-color:rgb(198, 245, 127)
}

.divcontent {
    border: grey 1px solid;
    margin-left: 12%;
    margin-top: -13%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2%;
    float: right;
}