body {
    background-color: #f2eee4;
}

h1 {
    background-color: rgb(252, 219, 137); font-size: larger;
}
h2 {
    font-style:italic; 
}
.lista {
    color:rgb(50, 88, 88)}

#Texto-azul {color: steelblue;}
i{
    color: rgb(66, 126, 126); 
}
